@import '~node_modules/modern-normalize/modern-normalize.css';

$white: #FFFFFF;
$red: #D41443;
$dark: #000000;
$gray: #907E82;
$pink: #FFB8CA;
$normalpink: #FFA5BA;
$lightpink: #FFF5F6;
$peach: #F0D1A5;
$green: #C2E297;
$border: #E1E1E1;