<section class="about" id="how">
  <div class="container">
    <p class="about__slogan">tradition and love</p>
    <h2 class="about__heading">how it's made?</h2>
    <div class="about__image-text-box">
      <div class="about__picture-box">
        <img
          class="about__image-cow"
          srcset="
            ./images/cow-desktop/milk-desktop@1x.png  501w,
            ./images/cow-desktop/milk-desktop@2x.png 1002w,
            ./images/cow-tablet/milk-tablet@1x.png    336w,
            ./images/cow-tablet/milk-tablet@2x.png    732w,
            ./images/cow-mobile/milk-mob@1x.png       280w,
            ./images/cow-mobile/milk-mob@2x.png       560w
          "
          sizes="280px"
          src="./images/cow-mobile/milk-mob@1x.png"
          alt="a jug of milk and a cow behind"
        />
      </div>

      <div class="about__text-box">
        
        <p class="about__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__except">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>

        <p class="about__except-indent">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="button-more popup.open" type="button">
          Read more

          <svg class="button-more__vektor-svg" width="9px" height="11px">
            <use href="./images/symbol-defs.svg#icon-arrowsmoll"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
