<section class="advantages" id="products">
    <div class="container">
        <h3 class="advantages__hidden">advantages</h3>
        <ul class="advantages__section">
            <li class="advantages__box--group">
                <p class="advantages__element">721</p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__box--vector">
                <p class="advantages__element">16kg</p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__box--candy">
                <p class="advantages__element">84</p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>