<section class="bb">
    <h2 class="visually-hidden">dubbles</h2>
    <div class="dubbles">
        <img src="./images/bubble2.png" alt="bubble" width="25">
        <img src="./images/bubble5.png" alt="bubble" width="25">
        <img src="./images/bubble3.png" alt="bubble" width="25">
        <img src="./images/bubble4.png" alt="bubble" width="25">
        <img src="./images/bubble.png" alt="bubble" width="25">
        <img src="./images/bubble6.png" alt="bubble" width="25">
        <img src="./images/bubble7.png" alt="bubble" width="25">
    </div>
</section>