<section class="contacts" id="contact">
    <div class="contacts-gradient"></div>
    <h2 class="visually-hidden">contacts</h2>
    <div class="section-contacts container">
        <ul class="contacts-gallery">
            <li class="contacts-gallery__item">
                <div class="contacts-gallery__category">
                    <p class="contacts-gallery__category--head">CAFE</p>
                    <p class="contacts-gallery__category--paragraph">Chicago</p>
                    <p class="contacts-gallery__category--text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-gallery__working">
                    <p class="contacts-gallery__working--week">Monday - Friday</p>
                    <p class="contacts-gallery__working--time">06:00 AM - 10:00 PM</p>
                    <p class="contacts-gallery__working--week">Saturday - Sunday</p>
                    <p class="contacts-gallery__working--time">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contacts-gallery__address">
                    <a class="contacts-gallery__address--tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts-gallery__address--mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts-gallery__item">
                <div class="contacts-gallery__category">
                    <p class="contacts-gallery__category--head current-foodtruck">FOODTRUCK</p>
                    <p class="contacts-gallery__category--paragraph">Los Angeles</p>
                    <p class="contacts-gallery__category--text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-gallery__working">
                    <p class="contacts-gallery__working--week">Monday - Friday</p>
                    <p class="contacts-gallery__working--time">06:00 AM - 10:00 PM</p>
                    <p class="contacts-gallery__working--week">Saturday - Sunday</p>
                    <p class="contacts-gallery__working--time">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contacts-gallery__address">
                    <a class="contacts-gallery__address--tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts-gallery__address--mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts-gallery__item">
                <div class="contacts-gallery__category">
                    <p class="contacts-gallery__category--head">CAFE</p>
                    <p class="contacts-gallery__category--paragraph">New York</p>
                    <p class="contacts-gallery__category--text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-gallery__working">
                    <p class="contacts-gallery__working--week">Monday - Friday</p>
                    <p class="contacts-gallery__working--time">06:00 AM - 10:00 PM</p>
                    <p class="contacts-gallery__working--week">Saturday - Sunday</p>
                    <p class="contacts-gallery__working--time">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contacts-gallery__address">
                    <a class="contacts-gallery__address--tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts-gallery__address--mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <div class="contacts-gallery__button">
            <a class="contacts-gallery__button--Locations" href="https://goo.gl/maps/N2c99qgTmyNABcJx7" target="_blank">Our Locations
                <svg class="contacts-gallery__icon--white" width="9" height="11">
                    <use href="./images/symbol-defs.svg#icon-arrowsmoll"></use>
                </svg>
            </a>
            <a class="contacts-gallery__button--Franchise" href="https://www.franchisedirect.com/foodfranchises/icecreamfranchises/78" target="_blank">Franchise
                <svg class="contacts-gallery__icon--red" width="9" height="11">
                    <use href="./images/symbol-defs.svg#icon-arrowsmoll"></use>
                </svg>
            </a>
        </div>
    </div>
</section>