<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/assets/owl.carousel.min.css'>
<link rel='stylesheet' href='https://themes.audemedia.com/html/goodgrowth/css/owl.theme.default.min.css'>

<section class="customerreviews">
    <h2 class="visually-hidden">customerreviews</h2>
    <div class="container">
        <div class="testimonials">
            <div class="row">
                <div id="testimonials-list" class="owl-carousel">
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="customerreviews-png" src="./images/customer-review-png.png" alt="">
                            <div class="shadow-effect__container">
                                <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                    hendrerit nulla quam nunc, accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.</p>
                                <img class="customerreviews-“__png" src="./images/“.png" alt="">
                            </div>
                            <div class="testimonial-name"><a href="https://www.facebook.com/profile.php?id=100080060212622" target="_blank">Emily, Los Angeles</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="customerreviews-png" src="./images/customer-review-png2.png" alt="">
                            <div class="shadow-effect__container">
                                <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                    hendrerit nulla quam nunc, accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.</p>
                                <img class="customerreviews-“__png" src="./images/“.png" alt="">
                            </div>
                            <div class="testimonial-name"><a href="https://www.facebook.com/profile.php?id=100034756487561" target="_blank">Aurora, San Francisco</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="shadow-effect">
                            <img class="customerreviews-png" src="./images/customer-review-png3.png" alt="">
                            <div class="shadow-effect__container">
                                <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                    hendrerit nulla quam nunc, accumsan
                                    congue. Lorem ipsum primis in nibh vel risus.</p>
                                <img class="customerreviews-“__png" src="./images/“.png" alt="">
                            </div>
                            <div class="testimonial-name"><a href="https://www.facebook.com/profile.php?id=100079810245095" target="_blank">Agata, New York</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



        