<section class="galery">
  <div class="galery-gradient"></div>
  <div class="galery__container">
    <h2 class="galery__title visually-hidden">Galery</h2>
    <img
      srcset="
        ./images/group320.png      320w,
        ./images/group320big.png   321w,
        ./images/group768.png      767w,
        ./images/group768big.png   768w,
        ./images/group1013.png    1012w,
        ./images/group1013big.png 1013w
      "
      class="galery__image"
      src="./images/group320.png"
      alt="images"
      width="320"
      sizes="(min-width: 320px) 100vw, (min-width: 768px) 100vw, (min-width: 1013px) 100vw"
    />
  </div>
</section>
